<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Carlib.Properties.Settings.SaleCarDBConnectionString"
            connectionString="Data Source=B310-01\SQLEXPRESS;Initial Catalog=SaleCarDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>