<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="BestSale.Properties.Settings.CarSaleConnectionString"
      connectionString="Data Source=DESKTOP-6FFVP0D\SQLEXPRESS;Initial Catalog=CarSale;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="BestSale.Properties.Settings.SaleCarDBConnectionString"
      connectionString="Data Source=B310-01\SQLEXPRESS;Initial Catalog=SaleCarDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>